﻿
@{
    ViewBag.Title = "Cotizaciones";

}


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Cotizaciones</h2>

            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th style="width:100px;">Id</th>
                            <th>Cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Negocio.Cotizacion obj in ViewBag.cotizaciones)
                        {
                            <tr>
                                <td>@obj.id</td>
                                <td>@obj.nombrePersona</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    
                                    <ul>
                                    @foreach (Negocio.CotizacionLine objLine in (new Negocio.CotizacionLine() { idCotizacion = obj.id }).get())
                                    { 
                                        <li>@objLine.descripcion - $ @objLine.prima</li>
                                    }
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->


