﻿
@{
    ViewBag.Title = "FormularioCotizacion";
}


    @using (Html.BeginForm("ProcesarCotizacion", "home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nombre del cliente</label>
                    <input class="form-control" type="text" name="nombrePersona" placeholder="Nombre del cliente" required>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>Suma Asegurada</label>
                    <input class="form-control" type="number" name="sumaAsegurada" placeholder="0.00" required>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>Ramo:</label>
                    <select class="form-control" name="idRamo" required>
                        <option value="">--SELECCIONE--</option>
                        @foreach (Negocio.Ramo obj in ViewBag.ramos)
                        {
                            <option value="@obj.id">@obj.nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" type="submit" name="Cotizar" value="Cotizar">

                </div>
            </div>

        </div>
    }


