﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Evaluación técnica</h2>
    <p class="lead">Gestion de cotización</p>
    <p> <a href="https://gitlab.com/victorfortuna18/seguro" class="btn btn-primary btn-lg">Repositorio</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        @Html.Action("FormularioCotizacion", "Home")
    </div>
    <div class="col-md-8">
        @Html.Action("Cotizaciones", "Home")
    </div>
</div>